body{
    background-color: #aa5f2d;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

header{
    background-color: #ffffff;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


header nav{
    display: flex;
    gap: 15px;
    align-items: center;
}

header nav a{
    border: #000000 2px solid;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    color: #000000;
}

section{
    background-color: #dddddd;
    border: 5px solid #000000;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

img{
    border: 2px solid #000000;
    border-radius: 10px;
    max-width: 100%;
}

.tarjetas{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.card{
    background-color: #ffffff;
    border: #000000 2px solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px #2cda0085;
    flex: 1;
}

main section form{
    background-color: #ffffff;
    border: #000000 solid 3px;
    border-radius: 10px;
    padding: 10px;
}

footer{
    background-color: #ffffff;
    padding: 1rem 2rem;
}

footer a img{
    margin: 1rem 2rem;
    height: 8.5rem;
    width: 8.5rem;
}

footer p{
    font-size: 1.5rem;
    text-align: end;
}

@media (max-width:768px){
    header{
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }
    header nav{
        flex-direction: column;
    }
}