/*reseteo los valores*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background: #f5f7fb;
  color: #111;
}

/*Variables*/

:root {
  --primary: #0077ff;
  --dark: #111;
  --gray: #666;
  --light: #f5f7fb;

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 48px;

  --radius: 12px;
  --shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/*Header*/

header {
  position: sticky;
  top: 0;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-3);
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  background: linear-gradient(135deg, var(--primary) 17%, var(--light) 8%);
}

header h1{
    color: var(--light);
}

header nav {
  display: flex;
  gap: var(--space-3);
}

header nav a {
    background-color: var(--light);
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  transition: 0.5s ease-in-out;
  border: solid 2px var(--dark);
  border-radius: var(--radius);
  padding: var(--space-1);
}

header nav a:hover {
    transform: translateY(-8px);
    box-shadow: var(--gray) 5px 5px 5px;
}

/*hero*/
#hero {
  text-align: center;
  padding: 80px 20px;
  background: #ebebeb;
}

#hero h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

#hero p {
  color: var(--gray);
  max-width: 600px;
  margin: 0 auto;
}

#hero button {
  margin-top: 20px;
  padding: 12px 20px;
  border: none;
  background: var(--primary);
  color: white;
  border-radius: var(--radius);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

#hero button:hover {
  transform: translateY(-5px);
}

/*Secciones*/

#about_me, #contact, #projects, #skills {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

/*habilidades*/

#skills ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  list-style: none;
}

#skills li {
  background: white;
  padding: 10px;
  border-radius: var(--radius);
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

/*Proyectos*/

#projects article {
  background: white;
  margin: var(--space-3);
  padding: 20px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  transition: 0.5s ease-in-out;
}

#projects article:hover {
  transform: translateY(-5px);
}

/*Contacto*/
#contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#contact input,
#contact textarea {
  padding: 10px;
  border-radius: var(--radius);
  border: 1px solid #ddd;
}

#contact button {
  background: var(--primary);
  color: white;
  padding: 12px;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
}

footer{
    background-color: var(--primary);
    color: var(--light);
    padding: 1%;
}